.mainform{
    max-width:90%;
    margin: 100px auto 0;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .mainform{
        max-width:80%;
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .mainform{
        padding: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .mainform{
        max-width:70%;
    }
}
